<h3 class="alert alert-primary text-center">
    {{isNew?"add someone to your contact list":"editing "+contact.Name+" deta"}}
</h3>
<main class="card bg-light center p-5 m-5 ">
    <div *ngIf="error.has" class="alert alert-danger">
        {{error.msg}}
    </div>
    <form class="form" [formGroup]="form">

        <input class="form-control form-control-lg  m-1" [(ngModel)]="contact.Name"  formControlName="name" placeholder="enter the name" />
        <div *ngIf="name.invalid &&name.touched" class="alert alert-danger">the name is required</div>

        <input class="form-control form-control-lg  m-1" [(ngModel)]="contact.Phone" formControlName="phone" placeholder="phone number"  />
        <div *ngIf="phone.invalid &&(phone.dirty || phone.touched)"  class="alert alert-danger" >
            <div *ngIf="phone.errors?.['required'] "> please enter the phone number</div>
            <div *ngIf="phone.errors?.['pattern']" >please enter 11 number </div>
        </div>

        <input class="form-control form-control-lg  m-1" [(ngModel)]="contact.Address"  formControlName="address" type="address"  placeholder="address"  />
        
        <textarea  class="form-control  form-control-lg  m-1" placeholder="enter a notes here ... " [(ngModel)]="contact.Notes"  formControlName="notes"  ></textarea>
        

        <div class="d-flex flex-row-reverse">
            <button class="btn btn-primary w-50 p-2 " [disabled]="form.invalid" (click)="onSubmit()"> {{isNew?"add":"update"}} </button>
        </div>
    </form>
</main>