<h3 class="alert alert-primary text-center">
        Add someone to your contact list 
    </h3>
    <!--smain class="card bg-light center p-5 m-5 ">
        <div *ngIf="error.has" class="alert alert-danger" >
            {{error.msg}}
        </div>
        <form class="form" [formGroup]="form" >
            <input class="form-control form-control-lg  m-1" formControlName="username" #username id="username" type="text" placeholder="User Name"  />
            <div *ngIf="form.controls['username'].invalid &&form.controls['username'].touched" class="alert alert-danger" >the username is required</div>
            <input class="form-control form-control-lg  m-1" formControlName="password" #password id="password" type="password" placeholder="Password"  />
            <div *ngIf="form.controls['password'].invalid &&(form.controls['password'].dirty || form.controls['password'].touched)" class="alert alert-danger" >
                <div *ngIf="form.controls['password'].errors?.['required'] "> plase enter the password</div>
                <div *ngIf="form.controls['password'].errors?.['minlength']" >minmum length is 3 char</div>
            </div>
    
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-primary w-50 p-2 " [disabled]="form.invalid" (click)="onSubmit(username.value,password.value)" >Log in</button> 
            </div>
        </form>
    </main-->
    
    