<h3 class="alert alert-primary text-center">
    Log in <br> Welcome back
</h3>
<main class="card bg-light center p-5 m-5 ">
    <form class="form " action="/" method="GET">
        <input class="form-control form-control-lg  m-1" type="text" placeholder="User Name"  />
        <input class="form-control form-control-lg  m-1" type="password" placeholder="Password"  />
        <div class="d-flex flex-row-reverse">
            <input class="btn btn-primary w-50 p-2 " type="submit" title="Log in"  />
        </div>
    </form>
</main>

