<h3 class="alert alert-primary text-center">
    Log in <br> Welcome back
</h3>
<main class="card bg-light center p-5 m-5 ">
    <form class="form" [formGroup]="form" action="/" method="GET">
        <input class="form-control form-control-lg  m-1" [formGroupName]="username" #username type="text" placeholder="User Name"  />
        <div *ngif="form.controls['username'].invalid &&form.controls['username'].touched" class="text-danger" >the username is required</div>
        <input class="form-control form-control-lg  m-1" [formGroupName]="password" #password type="password" placeholder="Password"  />
        <div *ngif="form.controls['password'].invalid &&form.controls['password'].touched" class="text-danger" >plase enter the password</div>

        <div class="d-flex flex-row-reverse">
            <input class="btn btn-primary w-50 p-2 " [disabled]="form.invalid" type="submit" title="Log in" (oncleck)="onsubmit(username.Value,password.Value)"  />
        </div>
    </form>
</main>

