<table class="table table-striped table-bordered table-hover m-0">
    <Thead>
        <tr form class="thead-dark">
            <th scope="col"><input class="form-control text-bg-dark " placeholder=" Name " /></th>
            <th scope="col"><input class="form-control text-bg-dark " placeholder="Phone Number" /></th>
            <th scope="col"><input class="form-control text-bg-dark " placeholder=" Address " /></th>
            <th scope="col"><input class="form-control text-bg-dark " placeholder=" Notes " /></th>
            <th scope="col">
                <button class="btn btn-outline-light">
                    search
                </button>
            </th>
        </tr>
    </Thead>
    <tbody>
        <tr app-one *ngFor="let contact of contacts" [contact]="contact" (deleted)="ngOnInit()"> </tr>
    </tbody>
</table>

<div class="d-flex flex-row justify-content-center p-0 alert ">
    <ul class="pagination m-0">
        <li class="page-item" [class.disabled]="page==0||Npages<=1" >
            <a class="page-link" routerLink="/contact/{{page-1}}"  tabindex="-1">Previous</a>
        </li>
        <li class="page-item " [class.active]="page==i" *ngFor="let i of array;" >
            <a class="page-link"  routerLink="/contact/{{i}}" >{{i}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item" [class.disabled]="page==Npages||Npages<=1" >
            <a class="page-link"  routerLink="/contact/{{page+1}}" >Next</a>
        </li>
    </ul>
</div>