<table class="table table-striped table-bordered table-hover m-0">
    <Thead>
        <tr class="thead-dark">
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Address</th>
            <th scope="col">Notes</th>
            <th scope="col">|</th>
        </tr>
    </Thead>
    <tbody>
        <tr app-one></tr>
        <tr app-one *ngFor="let contact of contacts" [contact]="contact"></tr>
    </tbody>
</table>
<div class="d-flex flex-row justify-content-center p-0 alert ">
    <ul class="pagination m-0">
        <li class="page-item" [class.disabled]="page==0||Npages<=1" >
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item " [class.active]="page==i" *ngFor="let item of [].constructor(Npages) ;let i = index" >
            <a class="page-link" href="#">{{i}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item" [class.disabled]="page==Npages||Npages<=1" >
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</div>